.header{
  color: red;
  background-color: #000000f2;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  border-style: double;
}
.titulo{
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
.dados{
  margin-top: 20px;
  text-align: center;
  gap: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  max-width: 600px;
  padding: 20px;

  border-color: rgb(239, 239, 239);
  border-style: groove;
  border-radius: 20px;
  margin: 20px auto;
}
